# Infra configurations
cdk_context:  # AWS infra configs used to setup AWS Batch environment with AWS CDK
  CDK_DEPLOY_ACCOUNT: dummy  # required, update with your AWS account
  CDK_DEPLOY_REGION: dummy  # required, update with your desired region
  PREFIX: ag-bench  # Used to identify infra resources created, optional, default = ag-bench
  METRICS_BUCKET: autogluon-benchmark-metrics  # required, has to be a globally unique name
  # DATA_BUCKET: existing-s3-bucket  # optional, S3 bucket to download your private datasets
  # MAX_MACHINE_NUM: 20   # optional, default 20
  # BLOCK_DEVICE_VOLUME: 100   # optional, default 100GB
  # RESERVED_MEMORY_SIZE: 15000  # optional, default 15000MB
  # INSTANCE: g4dn.2xlarge  # optional, default g4dn.2xlarge
  # TIME_LIMIT: 3600  # optional, EC2 timeout, default 3600s
  # VPC_NAME: existing-vpc-name  # optional

constraint: 1m2x
custom_constraint_path: sample_configs/constraints/custom_constraints.yaml
# Benchmark configurations
module: multimodal  # required
mode: aws  # required
benchmark_name: ag_bench  # required
root_dir: ag_bench_runs  # optional, default = "ag_bench_runs"

module_configs:
  # Multimodal specific
  multimodal:
    git_uri#branch: # required
      - https://github.com/autogluon/autogluon#master
    dataset_name:  # required
      - shopee
      # - stanford_online
    # custom_dataloader:
    #   dataloader_file: sample_configs/dataloaders/text_dataloader.py   # required, relative path to WORKDIR
    #   class_name: TextDataLoaer  # required
    #   lang: en
    #   dataset_config_file: sample_configs/dataloaders/text_datasets.yaml  # required, dataset definition yaml

    presets:  # optional
      - medium_quality
      # - high_quality
    time_limit:  # optional
      - 10
    hyperparameters:  # optional
      - optimization.max_epochs: 2
        optimization.learning_rate: 0.005
      # - optimization.max_epochs: 5
      #   optimization.learning_rate: 0.0005
