name: Continuous Integration

on:
  push:
  pull_request_target:
    types: [opened]

defaults:
  run:
    shell: bash

jobs:
  lint_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: Lint Check
        run: |
          chmod +x ./.github/workflow_scripts/lint_check.sh && ./.github/workflow_scripts/lint_check.sh
  